<h1>Campaigns</h1>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<% if Vote.count == 0 %>
  <%= form_with(url: import_votes_path, method: :post, local: true, multipart: true) do |form| %>
    <%= form.file_field :file %>
    <%= form.submit 'Import Votes' %>
  <% end %>
<% end %>
 <h2>Invalid Votes: <%= @invalid_votes %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign_candidates_path(campaign)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>