<h1><%= @campaign.name %></h1>
<h2>Invalid Votes: <%= @campaign.votes.where.not(validity: "during")&.count %></h2>
<% candidates = Candidate.where(campaign_id: @campaign.id) %>
<% candidates.each do |candidate|  %>

  <p>Candidate name: <%= candidate.name %></p>
  <p>Votes: <%= candidate.votes.where(validity: "during")&.count %></p>
  <br>
<% end %>
<%=  %>
<table>
  <thead>
    <tr>
      <th>Choice</th>
      <th>Validity</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @campaign.votes.each do |vote| %>
      <tr>
      <%# to be fixed, it's shownig wrong campaign assigned to the candidate %>
        <td><p><%= vote.choice %></p></td>
        <td><p><%= vote.validity %> </p></td>
        <td><p><%= vote.msisdn %> </p></td>
      </tr>
    <% end %>
  </tbody>